* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins';
}

.notification {
  background: white;
  width: 480px;
  height: auto;
  padding: 16px;
  user-select: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  border-right: 4px solid grey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;

  // width on small screens
  @media (max-width: 575.9px) {
    width: 300px;
  }
  // end @media

  .content {
    // background: rgb(213, 219, 255);
    display: flex;
    align-items: center;
    .text {
      //   background: rgb(255, 235, 213);
      font-size: 14px;
      color: #4e4e4e;
      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-word;
      hyphens: auto;
    }
    .icon {
      //   background: rgb(240, 255, 213);
      height: 28px;
      flex: 0 0 28px;
      margin-right: 16px;
      background-position: center center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
    }
  }

  &.info {
    border-color: #398efe;
    .icon {
      background: url(../img/info.svg);
    }
  }
  &.warning {
    border-color: #fea839;
    .icon {
      background: url(../img/warning.svg);
    }
  }
  &.error {
    border-color: #fe394d;
    .icon {
      background: url(../img/error.svg);
    }
  }
  &.question {
    border-color: #646464;
    .icon {
      background: url(../img/question.svg);
    }
  }
}
